.App {
  font-family: sans-serif;
 text-align: center; 
  display: grid;
  gap: 25px;
  margin: 0;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  align-items: start;
}
img{
  border-radius: 20px;
  height: 400px;
  width:300px;
  object-fit: cover;
  margin: 0;

  
}
.moviecard {
  display: grid;
  width: 300px;
}
.head {
  display: flex;
  justify-content: space-between;
  margin: 0;

}
p {
font-size: 20px;
margin: 0;

}


